html {
    font-family: Didact Gothic, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #000;
}

main {
    flex: 1 0 auto;
}

img {
    height: 100%;
    width: 60%;
}

iframe {
    height: 100%;
    width: 50%;
}

#group {
    width: 41%;
}

#mom {
    width: 25%;
}

@media only screen and (max-width: 600px) {
    img, iframe {
        width: 100%;
    }

    #group {
        width: 67%;
    }

    #mom {
        width: 42%;
    }
}