html {
    font-family: Didact Gothic, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #000;
}

main {
    flex: 1 0 auto;
}
img {
    height: 100%;
    width: 60%;
}

iframe {
    height: 100%;
    width: 50%;
}
@media only screen and (min-width: 1500px) and (max-width: 2000px) {
    img {
        height: 100%;
        width: 60%;
    }
    
    iframe {
        height: 100%;
        width: 60%;
    }
    
    #group {
        width: 41%;
    }
    
    #mom {
        width: 25%;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1499px) {
    img {
        height: 100%;
        width: 80%;
    }
    
    iframe {
        height: 100%;
        width: 80%;
    }
    
    #group {
        width: 80%;
    }
    
    #mom {
        width: 62%;
    }
}

@media only screen and (max-width: 999px) {
    img, iframe {
        width: 100%;
    }
}